/* UBUNTU THEME */

.codemirror, .codemirror-gutter, body {
  background-color: #f8f8f8;
}
.codemirror {
  color: #0a001f;
}
.codemirror ::selection {
  background-color: #27007A;
}
.codemirror-gutter {
  border-right: 1px solid #aaa;
}
.codemirror-gutter-element {
  color: #0a001f;
}
.codemirror-content {
  caret-color: #FFBD40;
}

.cm-keyword,
.cm-comment,
.cm-bracket,
.cm-attribute,
.codemirror-matchingbracket {
  color: white; /* neon blue */
}

.codemirror-matchingbracket {
  font-weight: bold;
}

.cm-keyword {
  font-weight: bold;
}

.cm-atom,
.cm-string,
.cm-string-2,
.cm-qualifier {
  color: #FFF700; /* purple */
}

.cm-property {
  color: #87ffaf; /* pale green */
}

/*
.cm-number,
.cm-def,
.cm-variable,
.cm-punctuation,
.cm-operator,
.cm-variable-2,
.cm-variable-3,
.cm-type,
.cm-meta,
.cm-builtin,
.cm-tag,
.cm-hr,
.cm-link {
}
*/
